.ex-1-square:hover {
    transition: 1s;
    background-color: red;
}


.ex-2-square:active {
    transition: 3s;
    height: 100px;
    width: 100%;
}


.ex-3-square:hover {
    transition: 2s;
    border-radius: 50%;
} 


.ex-4-square:hover {
    transition: 3s;
    opacity: 0;
}