/* UNO */
.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}


/* DUE */
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}


/* TRE */
.ex-3-square {
    transition: 1s;
}
.ex-3-square:hover {
    border-radius: 100%;
}


/* QUATTRO */
.ex-4-square {
    transition: 1s;
}
.ex-4-square:hover {
    opacity: 0;
}


/* CINQUE */
.ex-5-square {
    transition: 1s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(.5);
}


/* SEI */
.ex-6-img:hover {
    filter: grayscale(1);
}


/* SETTE */
.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}


/* OTTO */
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(1);
    border-radius: 15px;
}


/* NOVE */
.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: grayscale(1);
    border-radius: 15px;
    transform: scale(1.5);
}


/* DIECI */
.ex-10-icon {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}


/* UNDICI */
.ex-11-icon:hover {
    animation: spinalittle 3s linear;
}
@keyframes spinalittle {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* DODICI */
.ex-12-button:hover .ex-12-top-white {
    animation: moveyourhead 3s linear;
}

@keyframes moveyourhead {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: moveyourass 2s linear;
}

@keyframes moveyourass {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}